body{
    background-image: url(../images/R1.png);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: cover; 
    background-position: center top;
    min-height: 100vh;
}

.navbar-container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    background:rgba(191,30,30,0.7);
    width: 90%;
}

.logo-container{
    width: 50%;
}

.navbar img{
    background:none; 
    height: 80px;
}

.nav-link{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-link .btn{
    background-color:#fff;
    text-decoration: none;
    color:#BF1E1E;
}

.nav-link .btn:hover{
    color:#000;
    background-color:#fff;
    text-decoration: none;
}

h2{
    color: #BF1E1E;
}

.card-bottom button {
    background-color: #BF1E1E;
    color:#fff; 
    border-radius: 7px;
    width: 100%;
}

.card-bottom a{
    background-color: #BF1E1E;
    color:#fff; 
    border-radius: 7px;
    width: 100%;
}
.card-bottom button:hover{
    background-color: #bd3232;
    color:#fff;
}
.card-bottom a:hover{
    background-color: #bd3232;
    color:#fff; 
}

footer {
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
    margin-bottom: 2%;
}

.footer-content{
    width: 90%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000;
}

.footer-icons{
    display: inline-block;
}

footer .fa-brands{
    font-size: 50px;
    color: #fff;
    margin: 20px;
    cursor: pointer;
}

footer .fa-brands:hover{
    color: #BF1E1E;
    transition: all 0.3s ease;
}

footer p{
    color:#fff;
    text-align: center;
}
